/*
COMMON
*/
body {
  height: 100vh;
  background-color: #dadbd5;
  font-family: 'Lato', sans-serif;
}

.sfondo-green {
  background-color: #009788;
  height: 120px;
  position: relative;
}

/*
UTILITY
*/
.gp-sfondo-grey {
  background-color: #eaeaea;
}

.gp-sfondo-azzurro {
  background-color: #8edafc;
}

.gp-w-20 {
  width: 20%;
}

.gp-w-10 {
  width: 10%;
}

.gp-altezza-header {
  height: 70px;
}

.gp-h4-color {
  color: gray;
}

.gp-sfondo-footer {
  background-color: #f5eee8;
}
